<app-header></app-header>

<main role="main" class="container">
  <div class="mt-5">
    <!-- <h1>Mo</h1> -->
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nama CU</th>
        <th scope="col">APP Date</th>
        <th scope="col">Sys Date</th>
        <th scope="col">Sedang EOD</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">CUSS</th>
        <td>05/04/2023</td>
        <td>05/04/2023</td>
        <td>Tidak</td>
      </tr>
      <tr>
        <th scope="row">CUBS</th>
        <td>05/04/2023</td>
        <td>05/04/2023</td>
        <td>Tidak</td>
      </tr>
      <tr>
        <th scope="row">CUMK</th>
        <td>05/04/2023</td>
        <td>05/04/2023</td>
        <td>Tidak</td>
      </tr>
    </tbody>
  </table>
  <!-- <app-post></app-post> -->
</main>

<app-footer></app-footer>
